html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Alignment
.text-left		{ text-align: left !important; }
.text-center	{ text-align: center !important; }
.text-right		{ text-align: right !important; }
.text-hide		{ font: 0/0 a; color: transparent; text-shadow: none;}

.pull-left    	{ float: left !important; }
.pull-right    	{ float: right !important; }
.center-block 	{ display: block; margin-left: auto; margin-right: auto; }

.hide	 		{ display: none !important; }
.show	 		{ display: block !important; }
.invisible 		{ visibility: hidden; }

.clearfix {
	.clearfix;
}
